/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);

/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
    text-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", monospace;
    font-weight: 600;
    font-size: 12.7px;
}

window#waybar {
    background: @bg_main;
    color: @content_main;
    border-bottom: 2px solid;
    border-image: linear-gradient(45deg, #33ccff, #00ff99) 1;
    padding: 5px 5px;
    margin: 5px 5px;
}

tooltip {
    background: @bg_main_tooltip;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: @border_main;
}
tooltip label {
    color: @content_main;
}

#custom-os_button {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 24px;
    padding-left: 12px;
    padding-right: 20px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-os_button:hover {
    padding-top: 6px;
    color: @content_main;
}

#workspaces {
    color: transparent;
    margin-right: 1.5px;
    margin-left: 1.5px;
}
#workspaces button {
    padding: 3px;
    color: @content_inactive;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#workspaces button.active {
    color: @content_main;
    border-top: 3px solid white;
}
#workspaces button.focused {
    color: @bg_active;
}
#workspaces button.urgent {
    color: rgba(255, 200, 0, 0.35);
    padding-top: 10px;
    border-bottom: 3px dashed @warning_color;
    color: @warning_color;
}
#workspaces button:hover {
    padding-top: 10px;
    color: @content_main;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#tray {
    margin-left: 5px;
    margin-right: 5px;
}
#tray > .passive {
    border-bottom: none;
}
#tray > .active {
    border-bottom: none;
}
#tray > .needs-attention {
    border-bottom: 3px solid @warning_color;
}

#pulseaudio {
    font-family: "JetBrainsMono Nerd Font";
    padding-left: 3px;
    padding-right: 3px;
}

#clock {
    padding-right: 5px;
    padding-left: 5px;
}

#mpris {
    border: 2px solid #94e2d5;
    border-radius: 10px;
    padding: 5px 5px;
    background-color: #282a36;
    color: #f8f8f2;
    margin: 5px 5px;
    font-size: 12px;
}

#battery {
    background: none;
}

#window {
    padding-left: 10px;
    padding-right: 10px;
}
